
.bg {
    width: 100vw;
    height: 100vh;
    background: #000;
    animation: bgAnime 1s linear 1.8s forwards;
Å@Å@position: absolute;
    top: 0;
    left: 0;
}

.text {
    text-align: center;
    font-size: 6vw;
    font-family: 'Pacifico', cursive;
    color: #fff;
    height: 1em;
    line-height: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 7;
    opacity: 0;
    animation: textAnime1 .5s linear forwards;
}

.text span{
    display: inline-block;
}

.text span:nth-child(1){
    animation: textAnime2 .6s ease-in-out .5s forwards;
}
.text span:nth-child(2){
    animation: textAnime2 .6s ease-in-out .6s forwards;
}
.text span:nth-child(3){
    animation: textAnime2 .6s ease-in-out .7s forwards;
}
.text span:nth-child(4){
    animation: textAnime2 .6s ease-in-out .8s forwards;
}
.text span:nth-child(5){
    animation: textAnime2 .6s ease-in-out .9s forwards;
}
.text span:nth-child(6){
    animation: textAnime2 .6s ease-in-out .10s forwards;
}
.text span:nth-child(7){
    animation: textAnime2 .6s ease-in-out .11s forwards;
}
/*keyframe*/
@keyframes textAnime1{
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}

@keyframes textAnime2 {
0% {
    transform: translateY(0);
}
25%{
    transform: translateY(-30%);
}
75% {
    transform: translateY(30%);
}
100%{
    transform: translateY(0);
}
}

@keyframes bgAnime{
0%{
    opacity: 1;
}
99%{
    opacity: 0;
}
100%{
    opacity: 0;
    visibility: hidden;
}
}
    