<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.training.mapper.Lesson0404UserMapper">
	<select id="findByDepartmentId" resultType="jp.co.sss.training.entity.Lesson0404User">
		SELECT * FROM lesson04_04user
		<if test="departmentId != null and departmentId != ''">
			WHERE department_id = #{departmentId}
		</if>
	</select>
	<select id="getUser0405Dto" resultType="jp.co.sss.training.dto.User0405Dto">
		SELECT
			t1.id,
			t1.user_id,
			t1.department_id,
			t2.name
		FROM lesson04_04user t1
		LEFT OUTER JOIN department t2 ON t2.id = t1.department_id
		<if test="departmentId != null and departmentId != ''">
			WHERE t1.department_id = #{departmentId}
		</if>
	</select>
</mapper>